<h1>Here's a little something to brighten your day!</h1>

<h2>{{compliment}}</h2>

<style>
  body {
    background-color: {{color}};
  }
  h1  {
    font-family: 'Luckiest Guy', cursive;
    color: {{textcolor}};
    text-shadow: 3px 2px black;
    text-align: center;
    letter-spacing: 3px;
  }
</style>
