<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sunshiny Day</title>
    <link rel="stylesheet" href="/assets/css/styles.css" />
    <link href="https://fonts.googleapis.com/css?family=Lobster|Luckiest+Guy" rel="stylesheet">
  </head>

  <body>
    {{{body}}}
  </body>
</html>
