body {
  background-color: {{color}};
}
main {
height: 100px;
width: 75%;
margin: 0 auto;
padding: 20px;
display: flex;
justify-content: center;
align-items: center;
resize: both;
overflow: auto;
}
main div {
  background-color: rgba(255, 255, 255, 0.35);
  padding: 20px;
  width: 75%;
  resize: both;
  overflow: auto;
  font-family: 'Lobster', cursive;
  text-align: center;
  font-size: 32px;
}
h1  {
  font-family: 'Luckiest Guy', cursive;
  text-shadow: 3px 2px black;
  padding: 75px;
  text-align: center;
  font-size: 48px;
  letter-spacing: 3px;
  color: {{textcolor}};
}
